main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

@media (max-height: 400px) {
  main {
    align-items: baseline;
  }
}

main > div {
  border: 1px solid #DDD;
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  padding: 20px;
}

input {
  width: 100%;
  border: 2px solid #1A73E8;
  padding: 12px 5px;
  border-radius: 10px;
  margin-top: 12px;
  font-size: 16px;
}

input[type=submit] {
  background-color: #1A73E8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input:focus {
  outline: 3px solid #1a73e84f;
}

a {
  color: #1A73E8;
  text-decoration: none;
}

.big-link {
  font-size: 16px;
  display: inline-block;
  margin: 5px 0;
}

img {
  max-width: 100%;
}

.floating-label {
  position: absolute;
  display: block;
  margin-left: 14px;
  background-color: white;
  font-weight: bold; 
  color: #1A73E8;
  padding: 0 2px;
}


.message {
  color: #1A73E8;
  font-weight: bold;
}

.error {
  color: red;
}